target remote | openocd -c "gdb_port pipe; log_output openocd.log" -f tools/openocd/st_nucleo_g0.cfg

# Init -------------------------------------------------------------------------

# Disable pagination
set pagination off

# Set pretty on
set p pretty on

# Set prount color
set prompt \033[00;32mgdb$ \033[0m

# Halt the target
monitor reset halt
# Load the program in target
load

# Run
monitor resume

## Quit gdb
detach
quit


