# Init -------------------------------------------------------------------------
# Set pretty on
set p pretty on

# Set prount color
set prompt \033[00;32mgdb$ \033[0m

# Run openocd and connect it
target remote | openocd -c "gdb_port pipe; log_output openocd.log" -f tools/openocd/st_nucleo_g0.cfg

# Halt the target
monitor reset halt
# Load the program in target
load
# Breakpoint on main function
break main
# Run the program
continue


# Define functions --------------------------------------------------------------

## r 'reset'
define r
    monitor reset halt
end

## rl reload file
define rl
    file digital_shelf_clock.elf
    load
    r
    c
end

## sd stepi and disassemble
define sd
    stepi
    disassemble
end
